*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(95, 92, 95);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: "Rubik Scribble", system-ui;
font-family: "Imbue", serif;
}
h1,h2,h3{
    text-align:center
}
body{
    width: auto;
    margin: auto;
    background-color: rgb(245, 243, 244);
    padding: 0vmax;
background-image:-webkit-image-set()
}

#naz{
    background-color: rgb(128, 82, 134);
}
.mavi{
    background-color: rgb(104, 70, 136);
}

#ttt{
    background-color: rgb(244, 243, 245);
}
.links{
    border: 1px rgb(22, 21, 21);
    display: flex;
    justify-content: flex-end;
}
.login{
    margin-left: 0vb;
}

.menu{
    display: flex;
}

.flex-container{
    display: flex;
}

.header-container{
    color: chartreuse;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.header{
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.photo-grid-container{
display: flex;
justify-content: center;

}

.photo-grid{
    display: flex;
    justify-content: flex-start;
}

.photo-grid-item{
    border: 1px solid #b11818;
    width: 300px;
    height: 300px;
}

.photo-grid{
    flex-wrap: wrap;
}
.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;

}
.conte{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.header-conte{
    color: chartreuse;
    background-color: rgb(9, 73, 75);
    display: flex;
    justify-content: center;
}