*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    color: rgb(133, 93, 129);
}
body{
    background-color: rgb(52, 121, 83);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: "Rubik Scribble", system-ui;
font-family: "Imbue", serif;
}
h1 {
    text-align: left;
    color: black;
}
h2 {
    text-align:left;
    color: black;
}
p {
    text-align:left;
    color: black;

}

body{
    width: auto;
    margin: auto;
    background-color: rgb(54, 56, 55);
    padding: 0vmax;
background-image:-webkit-image-set()

}

#naz{
    background-color: rgb(8, 8, 8);
}
.mavi{
    background-color: rgb(13, 13, 14);
}

#ttt{

    font-family: Georgia, 'Times New Roman', Times, serif;
}
.links{
    border: 1px rgb(22, 21, 21);
    display: flex;
    justify-content: flex-end;
}
.login{
    margin-left: 0vb;
}

.menu{
    display: flex;
}





.header{
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;



.photo-grid{
    display: flex;
    justify-content: flex-start;
}


}
